@use "sass:map";
@use 'sass:math';

// #region Fonts
// Font weights
$weight-extra-bold: 900;
$weight-bold: 700;
$weight-normal: 400;

@mixin apply-styles($style, $important: false) {
  @if $important {
    font-size: map.get($style, "size") !important;
    font-weight: map.get($style, "weight") !important;
    line-height: calc(
      map.get($style, "line-height")
      / map.get($style, "size")
      * 100%
    ) !important;
  } @else {
    font-size: map.get($style, "size");
    font-weight: map.get($style, "weight");
    line-height: calc(
      map.get($style, "line-height")
      / map.get($style, "size")
      * 100%
    );
  }
}
@function mix-style($style-a, $style-b, $ratio) {
  $mix-style: ();
  @each $name, $value in $style-a {
    $mix-style: map.set(
      $mix-style, $name,
      map.get($style-a, $name) * (1 - $ratio) + map.get($style-b, $name) * ($ratio)
    );
  }
  @return $mix-style;
}
@mixin apply-layout($style, $important: false) {
  $desktop-style: map.get($map: $style, $key: "desktop");
  $phone-style: map.get($map: $style, $key: "phone");
  @include apply-styles(
    $desktop-style,
    $important
  );
  @include layout-mobile {
    @include apply-styles(
      mix-style($desktop-style, $phone-style, .85),
      $important
    );
  }
  @include layout-phone {
    @include apply-styles(
      $phone-style,
      $important
    );
  }
}

// Display Large
$display-large-value: (
  "desktop": (
    "size": 2.75rem,
    "weight": $weight-extra-bold,
    "line-height": calc(56rem / 16),
  ),
  "phone": (
    "size": 1.5rem,
    "weight": $weight-extra-bold,
    "line-height": calc(32rem /16),
  ),
);
@mixin display-large($important: false) {
  @include apply-layout($display-large-value, $important);
}

// Display medium
$display-medium-value: (
  "desktop": (
    "size": 2.25rem,
    "weight": $weight-extra-bold,
    "line-height": calc(48rem /16),
  ),
  "phone": (
    "size": 1.375rem,
    "weight": $weight-extra-bold,
    "line-height": calc(30rem /16),
  ),
);
@mixin display-medium($important: false) {
  @include apply-layout($display-medium-value, $important);
}

// Display small
$display-small-value: (
  "desktop": (
    "size": 2rem,
    "weight": $weight-bold,
    "line-height": calc(44rem /16),
  ),
  "phone": (
    "size": 1.25rem,
    "weight": $weight-bold,
    "line-height": calc(28rem /16),
  ),
);
@mixin display-small($important: false) {
  @include apply-layout($display-small-value, $important);
}

// Headline large
$headline-large-value: (
  "desktop": (
    "size": 2rem,
    "weight": $weight-bold,
    "line-height": calc(40rem /16),
  ),
  "phone": (
    "size": 1.25rem,
    "weight": $weight-bold,
    "line-height": calc(26rem /16),
  ),
);
@mixin headline-large($important: false) {
  @include apply-layout($headline-large-value, $important);
}

// Headline medium
$headline-medium-value: (
  "desktop": (
    "size": 1.75rem,
    "weight": $weight-bold,
    "line-height": calc(36rem /16),
  ),
  "phone": (
    "size": 1.125rem,
    "weight": $weight-bold,
    "line-height": calc(24rem /16),
  ),
);
@mixin headline-medium($important: false) {
  @include apply-layout($headline-medium-value, $important);
}

// Headline small
$headline-small-value: (
  "desktop": (
    "size": 1.625rem,
    "weight": $weight-bold,
    "line-height": calc(32rem /16),
  ),
  "phone": (
    "size": 1.0625rem,
    "weight": $weight-bold,
    "line-height": calc(22rem /16),
  ),
);
@mixin headline-small($important: false) {
  @include apply-layout($headline-small-value, $important);
}

// Title large
$title-large-value: (
  "desktop": (
    "size": 1.375rem,
    "weight": $weight-bold,
    "line-height": calc(28rem /16),
  ),
  "phone": (
    "size": 1.0rem,
    "weight": $weight-bold,
    "line-height": calc(22rem /16),
  ),
);
@mixin title-large($important: false) {
  @include apply-layout($title-large-value, $important);
}

// Title medium
$title-medium-value: (
  "desktop": (
    "size": 1.25rem,
    "weight": $weight-bold,
    "line-height": calc(26rem /16),
  ),
  "phone": (
    "size": 0.9375rem,
    "weight": $weight-bold,
    "line-height": calc(21rem /16),
  ),
);
@mixin title-medium($important: false) {
  @include apply-layout($title-medium-value, $important);
}

// Title small
$title-small-value: (
  "desktop": (
    "size": 1.125rem,
    "weight": $weight-bold,
    "line-height": calc(24rem /16),
  ),
  "phone": (
    "size": 0.875rem,
    "weight": $weight-bold,
    "line-height": calc(20rem /16),
  ),
);
@mixin title-small($important: false) {
  @include apply-layout($title-small-value, $important);
}

// Body large
$body-large-value: (
  "desktop": (
    "size": 1.25rem,
    "weight": $weight-normal,
    "line-height": calc(26rem /16),
  ),
  "phone": (
    "size": 0.9375rem,
    "weight": $weight-normal,
    "line-height": calc(21rem /16),
  ),
);
@mixin body-large($important: false) {
  @include apply-layout($body-large-value, $important);
}

// Body medium
$body-medium-value: (
  "desktop": (
    "size": 1.125rem,
    "weight": $weight-normal,
    "line-height": calc(24rem /16),
  ),
  "phone": (
    "size": 0.875rem,
    "weight": $weight-normal,
    "line-height": calc(20rem /16),
  ),
);
@mixin body-medium($important: false) {
  @include apply-layout($body-medium-value, $important);
}

// Body small
$body-small-value: (
  "desktop": (
    "size": 1rem,
    "weight": $weight-normal,
    "line-height": calc(20rem /16),
  ),
  "phone": (
    "size": 0.8125rem,
    "weight": $weight-normal,
    "line-height": calc(18rem /16),
  ),
);
@mixin body-small($important: false) {
  @include apply-layout($body-small-value, $important);
}

// Button large
$button-large-value: (
  "desktop": (
    "size": 1.125rem,
    "weight": $weight-bold,
    "line-height": calc(22rem /16),
  ),
  "phone": (
    "size": 0.875rem,
    "weight": $weight-bold,
    "line-height": calc(19rem /16),
  ),
);
@mixin button-large($important: false) {
  @include apply-layout($button-large-value, $important);
}

// Button medium
$button-medium-value: (
  "desktop": (
    "size": 1rem,
    "weight": $weight-bold,
    "line-height": calc(20rem /16),
  ),
  "phone": (
    "size": 0.8125rem,
    "weight": $weight-bold,
    "line-height": calc(18rem /16),
  ),
);
@mixin button-medium($important: false) {
  @include apply-layout($button-medium-value, $important);
}

// Button small
$button-small-value: (
  "desktop": (
    "size": 0.875rem,
    "weight": $weight-bold,
    "line-height": calc(18rem /18),
  ),
  "phone": (
    "size": 0.75rem,
    "weight": $weight-bold,
    "line-height": calc(16rem /16),
  ),
);
@mixin button-small($important: false) {
  @include apply-layout($button-small-value, $important);
}

// Label large
$label-large-value: (
  "desktop": (
    "size": 0.875rem,
    "weight": $weight-normal,
    "line-height": calc(18rem /18),
  ),
  "phone": (
    "size": 0.75rem,
    "weight": $weight-normal,
    "line-height": calc(16rem /16),
  ),
);
@mixin label-large($important: false) {
  @include apply-layout($label-large-value, $important);
}

// Label medium
$label-medium-value: (
  "desktop": (
    "size": 0.75rem,
    "weight": $weight-normal,
    "line-height": calc(16rem /18),
  ),
  "phone": (
    "size": 0.625rem,
    "weight": $weight-normal,
    "line-height": calc(15rem /16),
  ),
);
@mixin label-medium($important: false) {
  @include apply-layout($label-medium-value, $important);
}

// Label small
$label-small-value: (
  "desktop": (
    "size": 0.625rem,
    "weight": $weight-normal,
    "line-height": calc(14rem /18),
  ),
  "phone": (
    "size": 0.5625rem,
    "weight": $weight-normal,
    "line-height": calc(14rem /16),
  ),
);
@mixin label-small($important: false) {
  @include apply-layout($label-small-value, $important);
}
// #endregion Fonts
